language: php

php:
  - "7.2"
  - "7.3"

stages:
  - lint

services:
  - mysql

env:
  matrix:
    - SHOPWARE_VERSION="6.1"
  global:
    - PLUGIN_NAME=FinSearch
    - SHOPWARE_DIR=${HOME}/shopware
    - PLUGIN_DIR=${HOME}/shopware/custom/plugins

cache:
  directories:
    - ${HOME}/.composer/cache/files

install:
  - composer install

before_script:
  - git clone https://github.com/shopware/development.git ${SHOPWARE_DIRECTORY} --branch ${SHOPWARE_VERSION}
  - cd ${SHOPWARE_DIR}
  - rm composer.lock
  - mysql -u root -e "CREATE USER 'app'@'localhost' IDENTIFIED BY 'app'"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON *.* TO 'app'@'localhost';"
  - ./psh.phar init
  - mkdir ${PLUGIN_DIR}/${PLUGIN_NAME}
  - mv ${TRAVIS_BUILD_DIR}/* ${PLUGIN_DIR}/${PLUGIN_NAME}
  - php bin/console plugin:refresh
  - php bin/console plugin:install --activate ${PLUGIN_NAME}
  - composer dump-autoload -d custom/plugins/FinSearch
  - ./psh.phar init-test-databases
  - ./psh.phar cache
  - cd ${PLUGIN_DIR}/${PLUGIN_NAME}

script:
  - composer test

addons:
  hosts:
    - mysql

jobs:
  include:
    - stage: lint
      before_install: skip
      before_script: skip
      script: composer lint
