.findologic-settings-credentials-fields {
  margin: 30px;

  .sw-field--switch .sw-field--switch__content {
    border-radius: 4px;
    border: 1px solid #D1D9E0;
    padding: 0 16px;
  }
}

.sw-page.findologic {
  .sw-card .sw-card__content {
    padding: 30px;
    background-color: #f0f2f5;
    border: 1px solid #D1D9E0;
  }
}
