.findologic-settings-credentials-fields {
  margin: 30px;

  .sw-field--switch.sw-field--default {
    margin-top: -15px;
    margin-bottom: 15px;
  }

  .divider {
    margin-top: 22px;
    display: block;
    border-bottom: 1px solid #D1D9E0;
    margin-bottom: 30px;
  }
}
