{% block findologic %}
    <sw-page class="findologic">
        {% block findologic_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc($route.meta.$module.title) }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('findologic.header') }}
                </h2>
            </template>
        {% endblock %}

        {% block findologic_actions %}
            <template slot="smart-bar-actions">
                {% block findologic_actions_save %}
                    <sw-button
                            class="sw-settings-login-registration__save-action"
                            :isLoading="isLoading"
                            :disabled="isLoading"
                            variant="primary"
                            :title="$tc('global.default.save')"
                            :aria-label="$tc('global.default.save')"
                            v-model="isSaveSuccessful"
                            @click="onSave"
                    >
                        {{ $tc('global.default.save') }}
                    </sw-button>
                {% endblock %}

                {% block findologic_actions_cancel %}
                    <sw-button
                            :routerLink="{ name: $route.meta.parentPath }"
                            :title="$tc('global.default.cancel')"
                            :aria-label="$tc('global.default.cancel')">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block findologic_content %}
            <template slot="content">
                {% block findologic_content_card %}
                    <sw-card-view>
                        {% block findologic_content_card_channel_config %}
                            {% block findologic_content_card_channel_config_sales_channel_card %}
                                <sw-card :title="$tc('findologic.settingForm.salesChannelTitle')">
                                    {% block findologic_content_card_channel_config_sales_channel_card_title %}
                                        <sw-entity-single-select
                                                id="salesChannelSelect"
                                                :placeholder="$tc('sw-sales-channel-switch.labelDefaultOption')"
                                                :searchPlaceholder="$tc('sw-sales-channel-switch.placeholderSelect')"
                                                :resetOption="$tc('sw-sales-channel-switch.labelDefaultOption')"
                                                @change="onSelectedSalesChannel"
                                                v-model="selectedSalesChannelId"
                                                entity="sales_channel">
                                            <template #labelProperty="{item, labelProperty}">
                                                <span v-if="item.translated">{{ item.translated[labelProperty] }}</span>
                                            </template>
                                        </sw-entity-single-select>

                                        <sw-single-select
                                                ref="languageSelection"
                                                class="sw-language-switch__select"
                                                :options="language"
                                                id="language"
                                                :placeholder="$tc('findologic.selectSalesChannel')"
                                                :disabled="!selectedSalesChannelId"
                                                required
                                                v-model="selectedLanguageId"
                                                @change="onSelectedLanguage">
                                        </sw-single-select>

                                    {% endblock %}
                                </sw-card>

                                {% block findologic_content_card_channel_config_credentials_card %}
                                    <findologic-config
                                            v-if="actualConfigData"
                                            :isActive="isActive"
                                            :shopkeyAvailable="shopkeyAvailable"
                                            :isValidShopkey="isValidShopkey"
                                            :isStagingShop="isStagingShop"
                                            :allConfigs="allConfigs"
                                            :actualConfigData="actualConfigData"
                                            :shopkeyErrorState="shopkeyErrorState"
                                            :selectedSalesChannelId="selectedSalesChannelId">
                                    </findologic-config>
                                {% endblock %}
                            {% endblock %}

                            {% block findologic_content_card_loading %}
                                <sw-loader v-if="isLoading"></sw-loader>
                            {% endblock %}
                        {% endblock %}
                    </sw-card-view>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
