.filter-category-select-list {
  width: 310px;
  line-height: 1.7;

  .custom-checkbox {
    max-width: 290px;

    .custom-control-label span {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 290px;
    }

    &:before {
      border-left: 1px solid #bcc1c7;
      content: "";
      position: absolute;
      left: -17px;
      top: -5px;
      height: fill-available;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: 100%;
      margin: 0;
    }

  }
}

.filter-category-select-item-label {
  margin-bottom: 0.5em;
}
