.category-filter-container {
  min-width: 290px;

  label {
    display: inline-block;
    width: auto;
    padding: 0;
  }
}

.show-category-list-item {
  max-height: 500rem;
  min-height: 2rem;
  height: auto;
  opacity: 1;
  transition: all 0.5s;
}

.up-icon {
  transform: rotate(180deg);
  height: 30px;
  width: 30px;
  display: inline-block;
  top: 0;
  position: absolute;
  transition: all 0.5s;
  cursor: pointer;
}

.down-icon {
  height: 30px;
  width: 35px;
  display: inline-block;
  position: absolute;
  top: -5px;
  transition: all 0.3s;
  cursor: pointer;
}

.up-icon, .down-icon {
  span {
    height: 25px;
    width: 17px;
  }
}

.hide-category-list-item {
  max-height: 0;
  min-height: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.show {
  min-width: 100px;
  max-height: 1000px;
}

.filter-category-select-list {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
  padding-top: 0.3em;
}

.icon {
  svg {
    color: #878787 !important;
  }
}

