.filter-category-select-list {
  width: 300px;

  .custom-checkbox {
    .custom-control-label {
      white-space: nowrap;

      &:before {
        border-radius: 4px;
      }
    }

    &:before {
      border-left: 1px solid #bcc1c7;
      content: "";
      position: absolute;
      left: -17px;
      top: -5px;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: fill-available;
      height: 100%;
      margin: 0;
    }

  }
}

.filter-category-select-item-label {
  margin-bottom: 0.5em;
}

