.filter-category-select-list {
  width: 310px;
  line-height: 2;
  padding-top: 0.3em;

  .filter-category-select-list-item {
    padding-bottom: 0;
    padding-top: 0;
  }

  .custom-checkbox {
    max-width: 290px;

    .custom-control-label span {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 290px;
      margin-top: -3px;
    }

    &:before {
      border-left: 1px solid #bcc1c7;
      content: "";
      position: absolute;
      left: -17px;
      top: -5px;
      height: fill-available;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: 100%;
      margin: 0;
    }

  }
}

.filter-multi-select-cat > div {
  overflow-x: hidden;
  overflow-y: scroll;
}