{% sw_extends '@Storefront/storefront/page/search:index.html.twig' %}

{% block page_search_listing %}
    {% if context.context.extensions.flPromotion %}
        <a href="{{ context.context.extensions.flPromotion.link }}">
            <img src="{{ context.context.extensions.flPromotion.image }}" id="fl-promotion" alt="Promotion Image"/>
        </a>
    {% endif %}

    {{ parent() }}
{% endblock %}
