{% sw_extends '@Storefront/storefront/page/search/search-pagelet.html.twig' %}

{% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}

{#
 Override product/filter columns in case the theme differs. Columns will only be used in case the filter position
 is configured on the left side.
#}
{% if filterColumns is not defined %}
    {% set filterColumns = 'col-lg-4 col-xl-3' %}
{% endif %}

{% if productColumns is not defined %}
    {% set productColumns = 'col-lg-8 col-xl-9' %}
{% endif %}

{% block element_product_listing_wrapper %}
    {% if not context.context.extensions.flEnabled.enabled %}
        {{ parent() }}
    {% else %}
        {% if page.header.extensions.flConfig.filterPosition is constant('\\FINDOLOGIC\\FinSearch\\Findologic\\FilterPosition::LEFT') %}
            {% set sidebarClasses = 'has--sidebar' %}
            {% set isInSidebar = true %}
        {% endif %}

        <div class="cms-element-sidebar-filter{% if isInSidebar %} row{% endif %}">
            <div id="filter-panel-wrapper"
                 class="filter-panel-wrapper{% if isInSidebar %} {{ filterColumns }}{% endif %}"
                 data-offcanvas-filter-content="true">
                {% sw_include '@Storefront/storefront/component/listing/filter-panel.html.twig' with {
                    listing: page.listing,
                    sidebar: isInSidebar
                } %}
            </div>

            {% set dataUrl =
                context.context.extensions.flSystemAware.supportsNewSearchWidget ?
                    url('widgets.search.pagelet.v2') :
                    url('widgets.search.pagelet', { search: page.searchTerm ? page.searchTerm : ' ' })
            %}

            {% if isInSidebar %}<div class="{{ productColumns }}">{% endif %}
            {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
                searchResult: page.listing,
                dataUrl: dataUrl,
                filterUrl: '',
                params: { search: page.searchTerm },
                sidebar: isInSidebar ? 1 : 0,
                boxLayout: 'minimal',
                displayMode: ''
            } %}
            {% if isInSidebar %}</div>{% endif %}
        </div>
    {% endif %}
{% endblock %}
