<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>
        <title lang="en-GB">Konfiguration</title>
        <input-field type="text">
            <name>Shopkey</name>
            <label>Shopkey</label>
            <label lang="de-DE">Shopkey</label>
        </input-field>
        <input-field type="bool">
            <name>Active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
        </input-field>
    </card>
</config>
