{% sw_extends '@Storefront/storefront/section/cms-section-default.html.twig' %}

{% block page_content_section_default %}
    {% if context.context.extensions.flPromotion %}
        <div class="cms-section-default boxed" id="fl-promotion-container">
            <div class="cms-block pos-0 cms-block-image-text">
                <div class="cms-block-container">
                    <a href="{{ context.context.extensions.flPromotion.link }}" id="fl-promotion-link">
                        <img src="{{ context.context.extensions.flPromotion.image }}" id="fl-promotion" alt="Promotion Image"/>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
