{% sw_extends '@Storefront/storefront/component/pagination.html.twig' %}

{% block component_pagination_nav %}
    {% if not context.context.extensions.findologicService.enabled %}
        {{ parent() }}
    {% else %}
        {% if not (searchResult.criteria.extensions.flPagination) %}
            {% set currentPage = ((criteria.offset + 1) / criteria.limit )|round(0, 'ceil') %}
            {% set totalPages = (entities.total / criteria.limit)|round(0, 'ceil') %}
        {% else %}
            {% set currentPage = ((searchResult.criteria.extensions.flPagination.offset + 1) / searchResult.criteria.extensions.flPagination.limit )|round(0, 'ceil') %}
            {% set totalPages = (searchResult.criteria.extensions.flPagination.total / searchResult.criteria.extensions.flPagination.limit)|round(0, 'ceil') %}
        {% endif %}

        {% set paginationSuffix = '' %}
        {% if paginationLocation %}
            {% set paginationSuffix = '-' ~ paginationLocation %}
        {% endif %}

        {% if totalPages > 1 %}
            <nav aria-label="pagination" class="pagination-nav">
                {% block component_pagination %}
                    {{ parent() }}
                {% endblock %}
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}
