{% block findologic_credentials %}
    <sw-container slot="grid" rows="auto auto">
        <sw-card-section>
            <sw-card class="sw-card--grid"
                     :title="$tc('findologic.settingForm.config.title')">
                <sw-container>
                    {% block findologic_credentials_card_container %}
                        {% block findologic_credentials_settings %}
                            <div class="findologic-settings-credentials-fields">
                                <sw-text-field
                                        v-model="actualConfigData['FinSearch.config.shopkey']"
                                        :label="$tc('findologic.settingForm.config.shopkey.label')"
                                        :helpText="$tc('findologic.settingForm.config.shopkey.tooltipText')"
                                        :required="true"
                                        :error="shopkeyErrorState"
                                >
                                </sw-text-field>
                                <sw-switch-field
                                        v-model="actualConfigData['FinSearch.config.active']"
                                        :label="$tc('findologic.settingForm.config.active.label')"
                                        :helpText="$tc('findologic.settingForm.config.active.tooltipText')"
                                >
                                </sw-switch-field>
                                <sw-button
                                        v-show="showTestButton"
                                        @click="openSalesChannelUrl"
                                >
                                    {{ $tc('findologic.settingForm.testButton') }}
                                </sw-button>
                                <span class="divider"></span>
                                <sw-text-field
                                        v-model="actualConfigData['FinSearch.config.integrationType']"
                                        ref="integrationType"
                                        :label="$tc('findologic.settingForm.config.integrationType.label')"
                                        :helpText="$tc('findologic.settingForm.config.integrationType.tooltipText')"
                                        :disabled="true"
                                >
                                </sw-text-field>
                            </div>
                        {% endblock %}
                    {% endblock %}
                </sw-container>
            </sw-card>


            <sw-card class="sw-card--grid"
                     :title="$tc('findologic.settingForm.config.export.title')">
                <sw-container>
                    <div class="findologic-settings-credentials-fields">
                        <sw-single-select
                                v-model="actualConfigData['FinSearch.config.mainVariant']"
                                :options="mainVariantOptions"
                                :label="$tc('findologic.settingForm.config.mainVariant.label')"
                                :placeholder="$tc('findologic.settingForm.config.mainVariant.default.label')"
                                :helpText="$tc('findologic.settingForm.config.mainVariant.tooltipText')">
                        </sw-single-select>

                        <fl-entity-multi-select
                          id="crossSellingCategoriesSelect"
                          v-model="actualConfigData['FinSearch.config.crossSellingCategories']"
                          :entity-collection="actualConfigData['FinSearch.config.crossSellingCategories']"
                          entityName="category"
                          :criteria="categoryCriteria"
                          :label="$tc('findologic.settingForm.config.crossSellingCategories.label')"
                          :helpText="$tc('findologic.settingForm.config.crossSellingCategories.tooltipText')"
                          :placeholder="$tc('findologic.settingForm.config.crossSellingCategories.placeholder')"
                          :searchPlaceholder="$tc('findologic.settingForm.config.crossSellingCategories.placeholder')"
                        >
                            <template #result-label-property="{ item, searchTerm }">
                                <sw-highlight-text
                                  :text="item.translated.breadcrumb.join(' > ')"
                                  :search-term="searchTerm"
                                >
                                </sw-highlight-text>
                            </template>
                        </fl-entity-multi-select>
                    </div>
                </sw-container>
            </sw-card>


            <sw-card class="sw-card--grid"
                     v-if="showDIConfig"
                     :title="$tc('findologic.settingForm.directIntegration.title')">
                <sw-container>

                    <div class="findologic-settings-credentials-fields">
                        <sw-text-field
                                v-model="actualConfigData['FinSearch.config.searchResultContainer']"
                                :label="$tc('findologic.settingForm.config.searchResultContainer.label')"
                                :helpText="$tc('findologic.settingForm.config.searchResultContainer.tooltipText')"
                                :placeholder="$tc('findologic.settingForm.config.searchResultContainer.placeholder')"
                        >
                        </sw-text-field>
                        <sw-text-field
                                v-model="actualConfigData['FinSearch.config.navigationResultContainer']"
                                :label="$tc('findologic.settingForm.config.navigationResultContainer.label')"
                                :helpText="$tc('findologic.settingForm.config.navigationResultContainer.tooltipText')"
                                :placeholder="$tc('findologic.settingForm.config.navigationResultContainer.placeholder')"
                        >
                        </sw-text-field>
                    </div>
                </sw-container>
            </sw-card>

            <sw-card class="sw-card--grid" v-if="showAPIConfig" :title="$tc('findologic.settingForm.api.title')">
                <sw-container>

                    <div class="findologic-settings-credentials-fields">

                        {% block findologic_credentials_settings_search_filter_position_container %}
                            <sw-switch-field
                                v-model="actualConfigData['FinSearch.config.activeOnCategoryPages']"
                                :label="$tc('findologic.settingForm.config.activeOnCategoryPages.label')"
                                :helpText="$tc('findologic.settingForm.config.activeOnCategoryPages.tooltipText')"
                            >
                            </sw-switch-field>
                            <sw-single-select
                                    v-model="actualConfigData['FinSearch.config.filterPosition']"
                                    :options="filterPositionOptions"
                                    :label="$tc('findologic.settingForm.config.filterPosition.label')"
                                    :helpText="$tc('findologic.settingForm.config.filterPosition.tooltipText')">
                            </sw-single-select>
                        {% endblock %}
                    </div>
                </sw-container>
            </sw-card>
        </sw-card-section>
    </sw-container>
{% endblock %}
