{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_wrapper_content %}
    <div class="cms-element-product-listing">
        {% if searchResult.total > 0 %}
            {% block element_product_listing_pagination_nav_actions %}
                {{ parent() }}
            {% endblock %}
        {% endif %}

        {% block element_product_listing_row %}
            {{ parent() }}
        {% endblock %}
        {% set paginationPages = (searchResult.criteria.extensions.flPagination.total / searchResult.criteria.extensions.flPagination.limit)|round(0, 'ceil') %}
        {% if paginationPages > 1 %}
            {% block element_product_listing_pagination_nav_bottom %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
